body {
	background-image: url("../img/umbrella_background.jpg");
	background-size: cover;
	background-position: center;
	text-align: center;
}

#player1 {
	display: inline-block;
	float: left;
	margin-left: 5px;
	margin-top: 5px;
	max-width: 280px;
	border: 4px solid #980002;
	border-radius: 10px;
	background-color: rgba(152, 0, 2, .2);
	font-family: Papyrus, fantasy;
	color: #000000;
	font-style: bold
}

#player2{
	display: inline-block;
	float: right;
	max-width: 280px;
	border: 4px solid #980002;
	border-radius: 10px;
	background-color: rgba(152, 0, 2, .2);
	font-family: Papyrus, fantasy;
	color: #000000;
	font-style: bold;
}

#ubcs {
	width: 90px;
	height: 75px;
}

#rpd {
	width: 90px;
	height: 90px;
	margin-right: 12px;
}

h1 {
	margin: 10px 5px 0px 5px;
}

.container{
	height: 630px;
	width: 630px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.box {
	display: inline-block;
	height: 200px;
	width: 200px;
	border: 3px solid #980002;
	margin: -2px;
	background-color: rgba(152, 0, 2, .2);
	border-radius: 10px;
}

img {
	height: 165px;
	width: 190px;
	padding-left: 12px;
	padding-top: 18px;
}

p {
	color: white;
}

#newGame{
	margin-top: 30px;
	font-size: 30px;
	border-radius: 5px;
	background-color: rgba(152, 0, 2, .2);
	border-color: rgba(152, 0, 2, .2);
	color: rgba(152, 0, 2, .4);
}

#winnerDisplay, #winnerDisplay2, #winnerDisplay3{
	background-image: url('../img/scare.gif');
    background-size: 100% 100%;
    color: rgba(152, 0, 2, .6);

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
	margin: auto;
	
}


