body {
	background-image: url("../img/umbrella_background.jpg");
	background-size: cover;
}

.container{
	height: 630px;
	width: 630px;
}

.box {
	display: inline-block;
	height: 200px;
	width: 200px;
	border: 3px solid #940101;
	margin: -2px;
	background-color: rgba(148, 1, 1, .2);
	border-radius: 10px;
}

img {
	height: 165px;
	width: 190px;
	padding-left: 12px;
	padding-top: 18px;
}

p {
	position: fixed;
	color: rgba(255, 255, 255, 0);
}