<!DOCTYPE html>
<html ng-app="ticTacApp">
<head>
	<title>Tic Tac Toe!</title>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body ng-controller="UmbrellaController as uss">
	<section id="playerSection"> <!-- player section -->
		<div>
			<h1>Player 1: {{uss.name}}</h1>
			<div>
				<p>
					Score: {{uss.scoreP1}}
				</p>
			</div>
		</div>
		<div>
			<h1>Player 2: {{uss.name2}}</h1>
			<div>
				<p>
					Score: {{uss.scoreP2}}
				</p>
			</div>
		</div>
	</section>

	<div class="container"> <!-- tic_tac_toe board -->
		
		<div class="box" ng-repeat="uc in uss.listOfBoxes" ng-mousedown="uss.addMove($index)" ng-mouseup="uss.getWinner()">
			<img ng-src={{uc.image}}> 
			<p id="boxp">{{uc.player}}</p>
		</div>
		<div>
			<button ng-click="uss.newGame()">New Game</button>
		</div>
	</div>

	



















<script type="text/javascript" src="js/angular.js"></script> <!-- sourcing angular -->
<script type="text/javascript" src="js/main.js"></script> <!-- sourcing module -->
<script type="text/javascript" src="js/tic_tac_controller.js"></script> <!-- sourcing controller -->
</body>
</html>